.registarCard{
  margin:50px 100px;
  padding-top:10px;
  background:white;
}
.registarTitle{
  margin-left:90px
}
.inputFormLayout{
  margin:10px 90px
}
.registarButton{
  margin:10px 0 20px 220px;
}
