body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
input[type="sarch"] {
    color: black;
}
.contents {
    margin: 10px auto;
    max-width: 800px;
    ]
}
.topButton {
    margin: 20px;
}
.minWidth {
    min-width: 800px;
}
.cardLayout {
    margin: 50px 100px;
    padding-top: 10px;
    background: white;
    width: 600px;
}
.inputFormLaytout {
    margin: 10px 90px;
}
