body {
  //font-family: 'Open Sans', sans-serif;
}
.contents{
  margin: 10px auto;
  max-width: 800px;]
}

.topButton{
  margin: 20px;
}


.minWidth{
  min-width: 800px;
}
.cardLayout {
  margin: 50px 100px;
  padding-top: 10px;
  background: white;
}
